.logo {
    width: 75px;
}

.nav-container-header {
    background-color: #fac814;
    height: 10vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
}


.dropbtn {
    background-color: transparent;
    color: #650000;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: roboto;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }

  .dropbtn:hover {
    color: #042AB4;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-header {
    display: none;
    position: absolute;
    background-color: #fac814;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: roboto;
    font-weight: 700;
    color: #650000;
  }
  
  .dropdown-content-header a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-header a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content-header {display: block;}
  