::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(15, 23, 42); 
    border-radius: 10px;
  }

.user-query-no-data-found-container {
    background-color: rgb(241, 245, 249);
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.user-query-reports-content-container {
    background-color: rgb(241, 245, 249);
    padding-left: 15px;
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow-y: auto;
    right: 0;
    top: 0;
    left: 15%;
    position: absolute;
}

.query-no-data-found-container {
    background-color: rgb(241, 245, 249);
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.query-reports-header-container {
    background-color: rgb(241, 245, 249);
    display: flex;
    flex-direction: column;
}

.admin-user-query-reports-bg-container {
    background-color: rgb(15, 23, 42);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.user-query-reports-head {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: #72024D;
    font-weight: bold;
    margin-bottom: 0px;
}

.print-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.active-btn {
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 0px;
    font-weight: 700;
    border-width: 0px;
    background-color: #01285F;
    color: #ffffff;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.direction-btn {
    font-family: sans-serif;
    border-style: solid;
    border-color: #D2D3D4;
    background-color: #D6EEEE;
    font-size: 20px;
    font-weight: 700;
    border-width: 1px;
    border-radius: 0px;
    height: 35px;
    width: 60px;
    cursor: pointer;
}

.direction-btn-cursor-not-allowed {
    font-family: sans-serif;
    border-style: solid;
    border-color: #D2D3D4;
    background-color: #D6EEEE;
    font-size: 20px;
    font-weight: 700;
    border-width: 1px;
    border-radius: 0px;
    height: 35px;
    width: 60px;
    cursor: not-allowed;
}

.active-color {
    color: #72024D;
}

.default-btn {
    font-family: sans-serif;
    font-size: 16px;
    border-style: solid;
    border-color: #D2D3D4;
    font-weight: 700;
    border-width: 1px;
    background-color: #D6EEEE;
    border-radius: 0px;
    color: #72024D;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.user-query-reports-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.query-reports-print-btn {
    background-color: #72024D;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    width: 130px;
    height: 35px;
    border-radius: 8px;
    border-width: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.page-btn {
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.page-icon {
    font-size: 25px;
    color: #ffa412;
}

.query-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8%;
    margin-bottom: 25px;
}

.page-drop-down {
    font-family: sans-serif;
    background-color: rgb(241, 245, 249);
    width: 80px;
    height: 25px;
    border-radius: 0px;
    margin-left: 20px;
    outline: none;
}

.page-drop-down-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}

.pages-label {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #02024B;
}

.input-container {
    border-style: solid;
    border-width: 1px;
    background-color: #D5EDF8;
    padding: 10px;
    width: 250px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.query-search-icon {
    color: #01186C;
    font-size: 25px;
    cursor: pointer;
}

.query-search-input {
    width: 100%;
    background-color: #D5EDF8;
    border-width: 0px;
    outline: none;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 20px;
    color: #01186C;
}

.page-numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-query-list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.total-pages {
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #72024D;
}

.user-query-retry-btn {
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 8px;
    border-width: 0px;
    height: 35px;
    color: #ffffff;
    cursor: pointer;
    width: 135px;
    background-color: #72024D;
}

.loader-container {
    display: flex;
    background-color: transparent;
    height: 50vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-query-table-head-container {
    display: flex;
    flex-direction: row;
    background-color: #72024D;
    padding-left: 20px;
    padding-right: 20px;


}

.school-name {
    width: 250px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.correspondent-name {
    width: 250px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.email {
    width: 250px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.contact-number {
    width: 200px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.address {
    width: 150px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.query-date {
    width: 200px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

@media print {
    .query-search-container * {
        display: none;
    }

    .admin-user-query-reports-bg-container {
        background-color: #ffffff;
    }

    .print-container * {
        display: none;
    }

    .user-query-reports-table-container {
        width: 100%;
    }

    .user-query-reports-container {
        padding-top: 1%;
    }

    .user-query-list-container {
        overflow-y: hidden;
        height: auto;
    }

    .user-query-reports-content-container {
        position: static;
    }
}