.admin-change-password-bg-container {
    background-color: rgb(15, 23, 42);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.admin-change-password-content-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    right: 0;
    top: 0;
    left: 15%;
    position: absolute;
}

.change-password-head {
    font-family: sans-serif;
    background-color: #72024D;
    color: #ffffff;
    margin-top: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px;
    text-align: center;
}

.change-password-input-details-container {
    background-color: #ffffff;
    width: 40%;
    border-radius: 16px;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
}
.change-password-form-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.change-password-label {
    font-family: sans-serif;
    margin-top: 0px;
    font-weight: bold;
    color: #013e66;
    margin-bottom: 15px;
}
.change-password-input {
    font-family: sans-serif;
    color: #17013E;
    height: 45px;
    border-radius: 8px;
    border-width: 0px;
    padding-left: 15px;
    outline: none;
    border-color: #013e66;
    background-color: #D5EDF8;
    font-size: 20px;
    width: 100%;
}
.change-password-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: #D5EDF8;
    border-color: #013e66;
    margin-bottom: 30px;
    width: 100%;
}
.show-change-password-btn {
    background-color: transparent;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
    outline: none;
}
.show-change-password-icon {
    font-size: 20px;
}
.change-password-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.change-password-btn {
    background-color:#72024D;
    font-weight: 700;
    border-radius: 8px;
    color: #ffffff;
    height: 50px;
    width: 180px;
    border-width: 0px;
    font-size: 18px;
    cursor: pointer;
}
.change-password-success-msg {
    font-family: sans-serif;
    font-weight: 700;
    color: #2AB300;
}
.change-password-error-msg {
    font-family: sans-serif;
    color: #d90416;
    font-weight: 700;
}