.school-no-data-found-container {
    background-color: rgb(241, 245, 249);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.school-reports-bg-container {
    background-color: rgb(15, 23, 42);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.school-reports-content-container {
    background-color: rgb(241, 245, 249);
    padding-left: 15px;
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    right: 0;
    top: 0;
    left: 15%;
    position: absolute;
    overflow-y: auto;
}

.no-data-found-head {
    font-family: sans-serif;
    color: #24013E;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;

}
.no-data-found-img {
    width: 300px;
    margin-bottom: 0px;
}
.no-data-found-desc {
    font-family: sans-serif;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #64748b;
}
.register-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.register-btn {
    border-radius: 8px;
    height: 40px;
    width: 150px;
    border-style: solid;
    border-width: 0px;
    background-color: #4B0284;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.admin-school-reports-bg-container {
    background-color: #ffffff;
    height: 100vh;
    background-size: cover;
    padding-top: 5%;
}