.nav-container {
    background-color: #1C1701;
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.title {
    font-family: roboto;
    color: #ffffff;
}
.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-link {
    color: #000000;
    text-decoration: none;
}
.nav-link-text {
    color: #ffffff;
    margin-right: 50px;
    font-family: roboto;
    font-size: 20px;
}
.nav-link-text:hover {
    color: #F5D01A;
}
.logout-btn {
    border-width: 0px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-family: roboto;
}
.logout-btn:hover {
    color: #F5D01A;
}