.nav-container {
    background-color: #fac814;
    height: 10vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    font-family: roboto;
    color: #ffffff;
}
.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-link {
    color: #000000;
    text-decoration: none;
}
.nav-link-text {
    color: #650000;
    margin-right: 50px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 700;
}
.nav-link-text:hover {
    color: #042AB4;
}
.logout-btn {
    border-width: 0px;
    background-color: transparent;
    color: #650000;
    cursor: pointer;
    font-size: 20px;
    font-family: roboto;
    font-weight: 700;
}
.logout-btn:hover {
    color: #F5D01A;
}
.logo {
    width: 75px;
}